__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
local_settings.py


# hidden project files
food_trucks_project/hidden.py

# Virtual Environment
food_trucks_venv/

food_trucks_app/data/

.DS_Store
# Elastic Beanstalk Files
.ebextensions/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
