<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//bootswatch.com/slate/bootstrap.min.css" />
      <link rel="stylesheet" href="//bootswatch.com/slate/bootstrap.min.css" />
      <link rel="stylesheet" href="//bootswatch.com/slate/bootstrap.css" />

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      

  <title>San Francisco Food Trucks</title>
  </head>
  <body>



  <!-- Sidebar -->
  <div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="display: inline-block;">
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="37.7759, 122.4245">Hayes Valley/Tenderloin/North of Market
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="37.8011, 122.4196">Polk/Russian Hill (Nob Hill)
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="37.8037, 122.4368">Marina
                  </label>
              </div>
            </li>  
            <li>      
              <div class="checkbox"> 
                  <label><input type="checkbox" id="37.7599, 122.4148">Mission
                  </label>
              </div>
            </li>
            <li>
              <div class="checkbox"> 
                  <label><input type="checkbox" id="37.7412, 122.4178">Bernal Heights
                  </label>
              </div>
            </li>



            <a href="#clear" class="btn btn-default" id="clear">Clear All Selections</a>

        </ul>
        </div>
      </div>




  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                <form>
                <input type="button" onclick="getLocation();" value="Get Location"/>
                </form>

  <!--Begin Navbar-->
   <div class="navbar navbar-custom navbar-fixed-top">
   <div class="navbar-header"><a class="navbar-brand" href="#">San Francisco Food Trucks</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <a href="#menu-toggle" class="btn btn-default top_btn" id="menu-toggle">Search by Neighborhood</a>
        <li>
        <form class="navbar-form" id="mapInput">
          {% csrf_token %}
          <div class="form-group" style="display:inline;">
            <div class="input-group">
              <div class="input-group-btn">     
              </div>
            </div>
           </div>
          </div>
        </form>
        </li>
       </ul>
      </div>
  </div>


 <!-- <div id="popup" title="Food Truck Details"></div>
      </div>-->



  <div id="map" class="map"></div>
  <div class="container-fluid" id="main">
    <div class="row">
    <div class="col-xs-12"></div>    
    </div>
  </div>



              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

      </div>



  <!-- The script has to follow the map div for whatever reason. Otherwise it won't work. -->

  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ mapkey }}" type="text/javascript"</script>
  <script type="text/javascript" src="../static/js/mapScript.js"></script>


  </body>
</html>
